/* src/components/header.css */
.header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    position: fixed; 
    top: 0; 
    left: 0;
    z-index: 1000; 
  }
  
  .header-content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative; 
  }
  
  .title {
    position: absolute; 
    left: -500px; 
    bottom: 10px; 
    font-size: 24px;
    margin: 0; 
  }
  
  .logo {
    flex: 1; 
  }
  
  .navbar {
    display: flex;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar li {
    margin: 0 15px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  